html,
body {
	height: 100%;
	font-family: "europa";
	font-style: normal;
	font-weight: 500;
}

body {

	padding: 0;
	/* background-color: rgb(51, 51, 51); */

	margin: 0;
	display: flex;

	/* This centers our sketch horizontally. */
	justify-content: center;

	/* This centers our sketch vertically. */
	align-items: center;
}
canvas {
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 5px 5px #999999;
}

#inputFn, #inputSc {
	padding: 3px;
	border-radius: 8px;
	border: 1px solid #d3d3d3;
}

#sketch-div {
	display: block;
}

p {
	color: #000000;
	display: inline;
}

button {
	padding: 4px 9px 4px 9px;
	border-radius: 9px;
	border: 1px solid #d3d3d3;
	background-color: #1da7ea;
	color: white;
	font-family: "europa";
	font-style: normal;
	font-weight: 500;
}

#inputNum {
	position: absolute;
	bottom: 18px;
	/* left: 30px; */
	padding-left: 10px;
	margin: auto;
	color: white;
	font-size: 15px;
	display: block;
}

@media only screen and (max-width: 800px) {
	#inputNum {
		bottom: 240px;
	}
}
